body {
    margin: 0; padding: 0;
}

p {
    color: white
}

.coordinates-panel {
    position: fixed;
    // left: 20rem;
    // top: 10rem;
    padding: 0.2rem;
    background-color: darkcyan;
    color: white;
}